.homeStyle{
  background-color:black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.homeStyle .navbar-brand, .homeStyle .nav-link{
  color: white; /* Change the text color to white */
}


.header{
  background-color:blue;
  color:white;
  padding: 50px 0
}

.banner{
  padding: 80px 0
}

.navStyle{
  background-color:green;
  color:white;
  height: 400px;
}

.content{
  background-color:pink;
  color:white;
  height: 400px;
}

.footer {
  background-color: black;
  color: white;
  padding: 10px; /* Add padding for spacing */
  text-align: center; /* Center-align text */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}